@import "tailwindcss";

@theme {
    --color-light: oklch(95.7% 0.00794 73.7deg);
    --color-dark: oklch(22.9% 0.0194 66.6deg);
    --color-dark-z-1: oklch(22.9% 0.0194 66.6deg / 0.75);

    --font-sans: "Inter", sans-serif;
}

html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
