@import "tailwindcss";

@theme {
    --color-main-red: #cd2b4a;
    --color-main-purple: #5849be;
    --color-bg: #0a0908;
    --color-text: #e8e1cd;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--color-main-red);
}

body {
    font-family: var(--font-manrope), sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
}
