@import "tailwindcss";

@theme {
    --color-main-red: #ec004a;
    --color-bg: #f4f4f4;
    --color-text: #0b1215;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--color-main-red);
}

body {
    font-family: var(--font-zalando), sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
}
